@use '../../styles/colors';

.gamemode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    animation: fadeUp 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s 1 both;


    img {
        border-radius: 8px;
        max-width: 500px;
    }
    
    p {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .gamemode {
        img {
            max-width: 100%;
        }
    }
}

@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }